@import './global.scss';

h4,h5{
  font-weight: 600;
}

.project-step:not(:first-child) {
  padding: 48px 0;
}

.project-step:first-child {
  padding-bottom: 48px;
}

.project-step-list {
  position: sticky;
  top: 115px;

  & li {
    font-size: 18px;
    height: 64px;
    line-height: 64px;
    padding-left: 16px;
    font-weight: 600;

    &.is-current {
      background: $off-white;
      border-radius: 0 32px 32px 0;

      & a{
        color: $brand-red;
      }
    }
    &:hover{
      background-color: $off-white;
      cursor: pointer;
    }
  }
  & a {
    color: #000000;

    &:hover {
      text-decoration: none;
      color:$brand-red;
      border-bottom: none;
    }
  }
}


.project-step{
  &:not(:last-child) {
    margin-bottom: 36px;
    scroll-margin-top:50px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
.section {
  padding: 24px 0;
}

.gray-box {
  background-color: $off-white;
  padding: 48px;

  & ul {
    list-style: none;
    padding: 0;
  }
}